<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd"
>

    <bean id="facadeDB" class="db.FacadeDB" init-method="init">
        <property name="build" ref="requestBuilder"/>
        <property name="system" ref="luceneSystem"/>
        <property name="jdbc" ref="jdbcReader"/>
    </bean>
    <bean id="requestBuilder" class="db.textual.RequestBuilder">
    </bean>
    <bean id="luceneSystem" class="db.textual.LuceneSystem" init-method="createIndex">
        <property name="indexer" ref="indexer"/>
        <property name="searcher" ref="searcher"/>
    </bean>
    <bean id="jdbcReader" class="db.sql.JDBCReader">
    </bean>
    <bean id="indexer" class="db.textual.Indexer" init-method="init">
    </bean>
    <bean id="searcher" class="db.textual.Searcher" init-method="init">
    </bean>

    <bean id="persistenceFacade" class="db.sql.PersistenceFacade"/>
</beans>